:root {
  --body-background-color: #ffffff;
  --body-color: #434455;
  --nav-logo-link-color: #4d5ae5;
  --nav-logo-span-color: #2e2f42;
  --nav-link-color: #2e2f42;
  --address-link-color: #434455;
  --nav-address-hover-focus-color: #404bbf;
  --border-bottom-color: #e7e9fc;
  --hero-background-color: #2e2f42;
  --hero-title-color: #ffffff;
  --hero-button-background-color: #4d5ae5;
  --hero-button-color: #ffffff;
  --hero-button-hover-focus-background-color: #404bbf;
  --hero-button-hover-focus-color: #ffffff;
  --button-hover-background-color: #404bbf;
  --button-hover-color: #ffffff;
  --advantages-icon-wraper-color: #f4f4fd;
  --team-background-color: #f4f4fd;
  --team-cards-item-color: #ffffff;
  --socials-link-backgroubd-color: #4d5ae5;
  --socials-link-color: #f4f4fd;
  --customers-link-border-color: #8e8f99;
  --customers-link-color: #404bbf;
  --customers-link-hover-focus-border-color: #404bbf;
  --customers-icon-fill: #8e8f99;
  --title-color: #2e2f42;
  --sub-title-color: #2e2f42;
  --text-color: #434455;
  --footer-color: #2e2f42;
  --logo-footer-span-color: #f4f4fd;
  --footer-text-color: #f4f4fd;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--border-bottom-color);
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  width: 261px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link {
  padding: 24px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-link-color);
}

.address {
  display: flex;
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--address-link-color);
}

.navigation-logo {
  width: 115px;
  display: flex;
  margin-top: 25.5px;
  margin-right: 76px;
  margin-bottom: 25.5px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-logo-link-color);
}

.nav-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-logo-span-color);
}

.navigation-link:hover,
.navigation-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--nav-address-hover-focus-color);
}

.hero-section {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/studio/hero/studio-hero-img-w1140-h600.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
}

.hero-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  background-color: var(--hero-button-background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--hero-button-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-hover-focus-background-color);
  color: var(--hero-button-hover-focus-color);
}

.advantages-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-container {
  display: flex;
}

.advantages-list {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 24px;
}

.advantages-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sub-title-color);
}

.advantages-item {
  flex-basis: calc((100%-24px * 3) / 4);
}

.advantages-icon-wraper {
  display: flex;
  background: var(--advantages-icon-wraper-color);
  width: 264px;
  height: 112px;
  padding: 24px 100px;
  border-radius: 4px;
}

.examples-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.examples-title {
  margin: 0 auto 72px;
}

.examples-container {
  display: flex;
}

.examples-list {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 24px;
}

.examples-item {
  flex-basis: calc((100%-24px * 2) / 3);
}

.team-section {
  background-color: var(--team-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
}

.team-title {
  margin: 0 auto 72px;
  padding-top: 120px;
}

.team-cards-list {
  display: flex;
  align-items: start;
  flex-direction: row;
  gap: 24px;
}

.team-cards-item {
  background-color: var(--team-cards-item-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-cards-title {
  text-align: center;
  margin-bottom: 8px;
}

.team-cards-wraper {
  padding: 32px 16px;
}

.team-cards-text {
  text-align: center;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  border: transparent;
  border-radius: 50%;
  background: var(--socials-link-backgroubd-color);
  color: var(--socials-link-color);
}

.socials-link:hover {
  background: #404bbf;
}

.socials-icon {
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-container {
}

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 120px;
}

.customers-item {
  width: 168px;
  height: 88px;
  flex-basis: calc((100%-24px * 5) / 6);
}

.customers-link {
  display: flex;
  width: inherit 100%;
  height: inherit 100%;
  padding: 16px 32px;
  border: 1px solid;
  border-color: var(--customers-link-border-color);
  border-radius: 4px;
  color: var(--customers-link-color);
}

.customers-link:hover,
.customers-link:focus,
.customers-icon:hover {
  fill: currentColor;
  border-color: #404bbf;
}

.customers-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 104px;
  height: 56px;
  fill: #8e8f99;
}

.production-section {
  padding: 96px 0 120px;
}

.filter-container {
  display: flex;
  margin-bottom: 72px;
  align-items: center;
  flex-direction: row;
  margin: 0 auto 72px;
}

.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 24px;
  margin-bottom: 72px;
}

.filters-list:last-child {
  margin-right: 0;
}

.filters-buttons {
  display: flex;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  padding: 12px 24px;

  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
}

.filters-buttons:hover,
.filters-buttons:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--sub-title-color);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.production-section {
  padding: 96px 0 120p;
}

.production-cards-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.production-cards-item {
  background: #ffffff;
  display: block;
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}

.production-cards-link {
  display: block;
}

.production-cards-link:hover,
.production-cards-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.production-cards-image {
}

.production-cards-signature {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.production-cards-title {
  margin-bottom: 8px;
}

.footer {
  background-color: var(--footer-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  width: 264px;
  margin-right: 120px;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-logo-link-color);
}

.footer-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-span-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--footer-text-color);
}

.footer-socials {
  display: flex;
  flex-direction: column;
}

.footer-socials-title {
  margin-bottom: 16px;
  color: #ffffff;
}

.footer-socials-link {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12px;
  border: transparent;
  border-radius: 50%;
  background: #4d5ae5;
  color: #f4f4fd;
}

.footer-socials-link:hover {
  background: #31d0aa;
}

.footer-socials-icons {
  gap: 16px;
}
